header{
    position: relative;
    border-bottom: 2px solid;
    margin-bottom: 50px;

}

header *{
    display: inline;
}

.product-add ul{
    display: inline;
    padding: 0px;
}

label{
    display: inline-block;
    width: 100px;
}

footer {
    text-align: center;
    position: relative;
    border-top: 2px solid;
    margin-top: 50px;
}

/* For the jQuery Validation Plugin */
label.error.fail-alert {
    color: red;
    line-height: 1;
    white-space: nowrap;
    padding-left: 20px;
    }

input #select-all {
    padding-left: 20px;
    color: red;
    line-height: 1;
}

.container-fluid-checkbox {
    width: 100%;
    padding-right: 15px;
    padding-left: 17px;
    padding-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
}